:root {
  --error-color: #CE2B1C;
  --valid-color: #249919;
}

.upload-form {
  min-width: 10rem;
  max-width: 20rem;
  margin-top: 1rem;
  border: 1px solid #BB39F9;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
 padding: 1rem 2rem;
}

.upload-form label {
  padding-left: 0.4em;
  margin: 1.2em 0 0.3em 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type='text'] {
  font-size: 16px;
  width: 100%;
  margin-bottom:1rem;
  border: 1px solid #BB39F9;
  border-radius: 3px;
  padding: 0.4rem 0.2rem;
  box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.25);
}

.upload-form .message {
  color: var(--error-color);
}
.upload-form .error {
  border:  2px solid var(--error-color);
}
.upload-form .valid {
  border:  2px solid var(--valid-color);
}