.battle-wrapper {
    text-align: center;
    font-family: merge One;
}

.contestants {
    display: flex;
    margin-bottom: 50px;
}

.battle-card-one {
    width: 700px;
    flex-direction: column;
}

.battle-card-two {
    width: 700px;
    justify-content: flex-end;
}

.battle-hamster-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.battle-hamster-wrapper h2 {
    text-decoration: none;
}