h1 {
    font-family: merge One;
    margin-bottom: 20px;
}
.home-info-wrapper {
    font-family: merge One;
    display: flex;
}

.home-img-random {
    margin-left: 300px;
}

.info {
    white-space: pre-wrap;
    min-width: 350px;
}

.testbild {
    width: 250px;
    height: 250px;
    margin-right: 50px;
}