*{
	margin: 0;
	padding: 0;
}

.App {
  min-height: 100vh;
  width: 100vw;
}

li {
  list-style: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #353535;
}

.component-header {
  display: flex;
  flex-direction: row;

}

.Logga {
  width: 127px;
  height: 69px;
  margin: 20px;
  justify-content: left;
}

.Header-text {
  font-family: Sedgwick Ave Display;
  font-size: 30px;
  place-self: center;
  margin-left: 20%;
  color: #02C2FF;
}

.App-nav-wrapper {
  width: 100%;
  height: 5vh;
  text-align: center;
  background-color: #575757;
}

.App-nav-link a {
  font-size: 4vh;
  margin: 6vh;
  text-decoration: none;
  color: #000000; 
}

.App-main {
  height: 60vh;
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
}

img {
	height: 150px;
	width: 150px;
  align-self: center;
	object-fit: cover;
  border-radius: 1rem;
}

.App-footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #353535;
}

.App-footer a {
  color: #000000;
}
