*{
	margin: 0;
	padding: 0;
  text-align: center;
}

.App {
  min-height: 100vh;
  width: 100vw;
}

.App-header {
  width: 100%;
  height: 15vh;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  /* -webkit-text-stroke-width: thin; */
  color: #02C2FF;
  background-color: #353535;
}

.App-nav-wrapper {
  width: 100%;
  height: 5vh;
  background-color: #575757;
}

.App-nav-link a {
  font-size: 4vh;
  margin: 6vh;
  text-decoration: none;
  color: #000000; 
}

.App-main {
  /* height: 60vh; */
  margin-top: 20px;
  margin-left: 120px;
  margin-right: 120px;
}

img {
	height: 33px;
	width: 33px;
	object-fit: cover;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #353535;
}

.App-footer a {
  color: #000000;
}
