.main-container h1 {
    text-align: center;
}

p {
    font-family: merge one;
}

a {
    color: #BB39F9;
}

.flex-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.stats-list {
    font-family: merge one;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 3px;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 50%;
    width: 32%;
}